@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Signika:wght@300..700&display=swap');
:root{
    --primaryColor: #202020;
    --lowPrimaryColor: #414141;
    --PrimaryColorText: #b8b7b7;
    --PrimaryColorTextHover:rgb(201, 189, 189)6;

}

html{
    font-family: "signika";
    font-family: "IBM Plex Sans", sans-serif;
    background-color: black;
    color: var(--PrimaryColorText)
}

.header {
    height: 3rem;
    border-bottom: var(--PrimaryColorText) 1px solid;
}
.nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 5%;
}
.nombre{
    text-decoration: none;
    color: var(--PrimaryColorText);
    font-weight: 600;
    font-size: 1.5em;
    height: auto;
}

.list_icon{
    cursor: pointer;
    color: var(--PrimaryColorText);
}

ul{
    list-style: none;
}

.ulLinks{
    backdrop-filter: blur(10px);
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 0;
    overflow: hidden;
    transition: all .5s;
}

.menu:checked + .ulLinks{
    height: calc(100vh - 3rem);  
}

.link{
    text-decoration: none;
}

.liLinks{
    font-size: 2.5em;
}

.link{
    color: var(--PrimaryColorText);
    transition: 0.5s all;
}

.menu{
    display: none;
}

@media(min-width:1000px){
    .label_hamburguesa{
        display: none;
    }

    .ulLinks{
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 1rem;
        background-color: var(--primaryColor);
        font-size: 0.7em;
        color: var(--PrimaryColorText);

    }

    .link{
        font-weight: 600;
    }

}

/* ---------------------- MAIN ----------------------------------------*/

.main{
    margin: 5% 10%;
    border-right: 1px grey solid;

}

.about{
    top: 3rem;
}

.tag{
    font-weight: bold;
    text-align: end;
    padding-bottom: 5%;
}

.aboutTextVanish{
    font-size: 1.5em;
    padding-bottom: 5%;
}

.aboutText{
    padding-right: 2%;
    line-height: 1.5em;
    padding-bottom: 15%;
}

/* ---------------------- PROJECTS ----------------------------------------*/

.project{
    padding-right: 10%;
    padding-bottom: 10%;
}


.projectTittle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectTittle h3{
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: .5rem;
}

.iconList{
    display: flex;
    gap: .3rem;
    padding-right: .5rem;
}

.icon {
    height: 2vh;
}

/* ---------------------- SKILLS ----------------------------------------*/

.scroller{
    max-width: 90%;
}

.tagList{
    padding-block: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.tagItem{
    border: var(--PrimaryColorText) 1px solid;
    border-radius: .3em;
    padding: .2em .3em;
}

.scroller[dataAnimated="true"]{
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, white 15%, white 85%, transparent);
}

.scroller[dataAnimated="true"] .tagList{
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}
 

@keyframes scroll {

    to{
        transform:  translate(-100%);
    }
    
}